<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="fixed-lockscreen-message"
    version="1.0.0">
    <name>Lockscreen message</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/driftyco/cordova-plugin-template.git</repo>
    <issue>https://github.com/driftyco/cordova-plugin-template/issues</issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="LockscreenMessage" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="LockscreenMessage">
          <param name="android-package" value="com.example.LockscreenMessage" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/com/example/LockscreenMessage.java" target-dir="src/com/example/" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="LockscreenMessage" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="LockscreenMessage">
                <param name="ios-package" value="LockscreenMessage" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/LockscreenMessage.h" />
        <source-file src="src/ios/LockscreenMessage.m" />
    </platform>
</plugin>
